body, html{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map, .leaflet-container{
  height: 63vh;
}

.hero {
  background-image: url('https://www.mapsinternational.co.uk/pub/media/catalog/product/x/r/o/rome-city-street-map-print-charcoal_ls01560.jpg');
  height: 350px;
}

.hero h1{
  color: #fff;
  font-size: 72px;
  padding: 25px 0;
  margin: 0;
}

#border{
  border-bottom: 8px solid rgb(223, 0, 0);
}

.ip-input{
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  padding: 8px 15px;
  width: 10%;
  font-size: 16px;
}

.btn-submit{
  background-color: #424a4c;
  outline: none;
  border: none;
  border-radius: 10px;
  color: red;
  padding: 8px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 800;
}

form{
  padding-top: 25px;
}

.ip-data-table{
  background-color: #123;
  position: absolute;
  color: white;
  top: 30%;
  left: 25%;
  width: 50%;
  border-radius: 10px;
  z-index: 2;
}

.vertical-border{
  border-right: 1px solid white;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  
}

.row-header, .row-content{
  display: flex;
  justify-content: center;
}

.th-header{
  font-weight: 800;
  font-size: 16px;
}

.white-border{
  border-bottom: 1px solid red;
}

table th, table td {
  color: white;
  z-index: 2;
}

table th{
  padding-top: 15px;
}

.th-header{
  width: 240px;
}

.td-copy{
  z-index: 2;
  font-size: 24px;
  font-weight: 600;
  /* border-right: 2px solid #fff; */
  vertical-align: top;
  padding: 10px 0;
  padding: 0;
  margin: 0;
  width: 240px;
}

.td-copy:last-child{
  border-right: none;
}

#map, .leaflet-container{
  z-index: 1;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .ip-data-table{
    top: 30%;
    left: 0;
    width: 100%;
  }
  .th-header{
    font-size: 11px;
  }
  .td-copy{
    font-size: 14px;
    font-weight: 600;
    /* border-right: 2px solid #fff; */
    vertical-align: top;
    padding: 10px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px){
  .ip-data-table{
    top: 30%;
    left: 0;
    width: 100%;
  }
  .th-header{
    font-size: 12px;
  }
  .td-copy{
    font-size: 14px;
    font-weight: 600;
    /* border-right: 2px solid #fff; */
    vertical-align: top;
    padding-bottom: 10px;

  }
  

  .row-header, .row-content{
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 641px) and (max-width: 1280px){
  .ip-data-table{
    top: 30%;
    left: 4%;
    width: 90%;
  }
  .th-header{
    font-size: 12px;
  }
  .td-copy{
    font-size: 18px;
    font-weight: 600;
    /* border-right: 2px solid #fff; */
    vertical-align: top;
    padding-bottom: 10px;

  }
  

  .row-header, .row-content{
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1920px){

  .th-header{
    font-size: 12px;
  }
  .td-copy{
    font-size: 24px;
    font-weight: 600;
    /* border-right: 2px solid #fff; */
    vertical-align: top;
    padding-bottom: 10px;

  }
  

  .row-header, .row-content{
    display: flex;
    justify-content: space-around;
  }
}